.numbers {
  padding: 50px 0;
  background: var(--accent-color);
}

.project-section {
  display: flex;
  color: white
}

.content {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}